name: Magento 2 CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "dockerfiles/**"
      - "magento-app/**"
      - "magento-data/**"
      - "k8s/**"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:

jobs:
  build_push:
    runs-on: ubuntu-latest

    outputs:
      ecr_registry: ${{ steps.login-ecr.outputs.registry }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-ids: ${{ secrets.ECR_REGISTRY_ID }}

      - name: Build Magento Docker image
        run: docker build -t magento:latest -f dockerfiles/Dockerfile .

      - name: Tag Docker image for ECR
        run: |
          docker tag magento:latest ${{ steps.login-ecr.outputs.registry }}/magento:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/magento:latest

  deploy:
    needs: build_push
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --name prod-eks-cluster \
            --region us-east-1

      - name: Deploy Magento container
        run: |
          kubectl set image deployment/magento magento=${{ steps.build_push.outputs.ecr_registry }}/magento:latest
          kubectl rollout status deployment/magento
